<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tags %>
    <%= render 'layouts/stylesheets' %>
    <%= javascript_include_tag 'jquery-1.7.1.min' %>
    <%= javascript_include_tag 'jquery-ui-1.8.17.custom.min' %>
    <% if title.include?('Statistics') %>
      <%= javascript_include_tag 'graphs' %>
    <% end %>
  </head>
  <body>
    <div class="container" id="top">
      <%= render 'layouts/header' %>
      <section class="round">
        <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: "flash #{key}") %>
        <% end %>
        <%= yield %>
      </section>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
